.ticketheader {
background-color: rgb(0, 161, 201);
}

.title1 {
    font-size: large;
    color: whitesmoke;
}
.title2 {
    font-size: medium;
    color: whitesmoke;
}
.tickerbody {
background-color: whitesmoke;
}

.ticketfooter {
background-color: rgb(0, 161, 201);
}

.vl {
    border-left: 6px dashed rgb(109, 109, 109);
  }