<div class="card">
    <div class="card-header ticketheader">
        <div class="row">
            <div class="col-9">
                <div>        
                    <h5 class="title1">Boarding Pass</h5>
                    <h5 class="title2">{{ticket.class}}</h5>
                </div>
            </div>
            <div class="col-3">
                <div>        
                    <h5 class="title1">Boarding Pass</h5>
                    <h5 class="title2">{{ticket.class}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body tickerbody">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h5>Passenger</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.passenger}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h5>Passenger</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.passenger}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h5>Flight</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.flight}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>From</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.from}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>To</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.to}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Class</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.class}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h5>Gate</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.gate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Gate</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.gate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Time</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.time}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Seat</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.seat}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h5>Gate</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.gate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Gate</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.gate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Time</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.time}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Seat</h5>
                        </div>
                        <div class="row">
                            <p>{{ticket.seat}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                
            </div>
        </div>
    </div>
    <div class="card-footer ticketfooter">
        
    </div>
</div>
<br>